.section_heading {
    font-size: 26px;
    margin-bottom: 30px;
}

.round_section_first,
.round_section_second {
    padding: 40px 120px;
    position: relative;

    .previous,
    .next {
        border: none;
        background-color: white;
        position: absolute;
        height: 40px;
        width: 40px;
        top: 50%;
        padding: 7px 10px;
        border-radius: 100%;
    }

    .previous {
        left: 5%;
    }

    .next {
        right: 5%;
    }
}

.round_section_first {
    background-color: whitesmoke;
}

.round_section_second {
    background-color: white;
}

.slider-container {
    display: flex;
    // position: relative;
    overflow: hidden;
    width: 100%;
    // transition: transform 0.5s ease-in-out;

    .slide {
        // transition: transform 0.5s ease-in-out;
        // flex-shrink: 0;
        // transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

        // transform: translateX(0);
        /* Add this line */
        // transition: transform 0.5s ease-in-out;
        /* Update this line */
        gap: 20px;
        min-width: 16.66%;
        clear: both;
        position: relative;
    }

    img {
        padding: 5px;
        height: 150px;
        width: 150px;
        border: none;
        border-radius: 100%;
    }

    p {
        font-size: 1.5rem;
        line-height: 3.2rem;
        text-transform: capitalize;
        text-align: center;
    }
}

.cake {
    background: linear-gradient(lightpink, #fff);
}

.burger {
    background: linear-gradient(gray, #fff);
}

// card section




.cards_section {
    padding: 40px 120px;
    background-color: #fff;

    >div {
        gap: 20px;
    }

    .card {
        position: relative;
        padding: 10px;
        width: 31.5%;
        border-radius: 15px;
        background-color: transparent;
        box-shadow: none;

        &:hover {
            background-color: white;
            box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .2), -4px -4px 4px 0 rgba(0, 0, 0, .1);
        }

        img {
            height: 248px;
            border-radius: 15px;
        }

        .offers {
            position: absolute;
            color: #fff;
            left: 10px;
            top: 56%;
            padding: 0 6px;
            text-transform: uppercase;
            background-color: blue;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            font-weight: 400;
        }

        .mat-mdc-card-content {
            padding: 16px 0 0 0;
        }

        .name {
            font-size: 18px;
            font-family: Helvetica, sans-serif;
        }

        .rating {
            background-color: green;
            color: #fff;
            font-weight: bold;
            border-radius: 5px;
            padding: 2px 6px;

            .mat-icon {
                font-size: 12px;
                height: 12px;
                width: 12px;
            }
        }

        .items,
        .pricing {
            font-size: 14px;
            color: gray;
        }

        .timing {
            font-weight: bold;
        }
    }
}