.cart-section{
    padding: 20px 120px;
    .text-area{
        padding: 0px 40px;

        .mat-mdc-button{
            font-size: 20px;
            padding: 15px;
            border-radius: 20px;
            margin-top: 20px;
            width: 100%;
            color: white;
            text-transform: capitalize;
        }
        #promocodebtn{
            background-color: lightcoral;
        }
        #checkoutbtn{
            background-color: #FF1493;
        }

        .mat-mdc-form-field{
            width: 100%n;
        }
    }
}

.whenListIsEmpty{
    // height: 100%;
    padding: 60px;
    h1{
        text-transform: capitalize;
    }
}