<div class="cards_section">
    <p class="section_heading">Inspiration for your first order</p>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <ng-container *ngFor="let element of FoodList">
            <mat-card class="card">
                <img mat-card-image alt="sweets" [src]="image" alt="Photo of a Shiba Inu">
                <p class="offers">{{offers}}</p>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <p class="name">{{element.foodName}}</p>
                        <p class="rating" fxLayout="row" fxLayoutAlign=" center">{{rating}} <mat-icon>star
                            </mat-icon></p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <p class="items">{{element.restaurantId}}</p>
                        <p class="pricing">₹{{element.price}}</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <p></p>
                        <p class="timing">{{timing}}</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>

</div>