<!-- <mat-toolbar class="bg-none">
  Change Password
  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar> -->
<div>
  <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="60px">
    <!--Old Password Field-->
    <mat-form-field>
      <mat-label>Old Password *</mat-label>
      <input matInput type="password" placeholder="Enter password" formControlName="oldPassword">
      <mat-error
        *ngIf="formGroup.controls['oldPassword'].invalid && (formGroup.controls['oldPassword'].dirty || formGroup.controls['oldPassword'].touched)">
        <ng-container *ngIf="formGroup.controls['oldPassword'].errors?.['required']">
          Old Password is required.
        </ng-container>
      </mat-error>
      <mat-icon matSuffix>lock_open</mat-icon>
    </mat-form-field>

    <!--Password Field-->
    <mat-form-field>
      <mat-label>Password *</mat-label>
      <input matInput type="password" placeholder="Enter password" formControlName="password">
      <mat-error
        *ngIf="formGroup.controls['password'].invalid && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)">
        <ng-container *ngIf="formGroup.controls['password'].errors?.['required']">
          Password is required.
        </ng-container>
        <ng-container *ngIf="formGroup.controls['password'].errors?.['pattern']">
          Must contain at least one number and one
          uppercase and lowercase letter, and at least 8 or more characters.
        </ng-container>
      </mat-error>
      <mat-icon matSuffix>lock_open</mat-icon>
    </mat-form-field>

    <!--Confirm Password Field-->
    <mat-form-field>
      <mat-label>Confirm Password *</mat-label>
      <input matInput type="password" placeholder="Enter confirm password" formControlName="confirmPassword">
      <mat-error
        *ngIf="formGroup.controls['confirmPassword'].invalid && (formGroup.controls['confirmPassword'].dirty || formGroup.controls['confirmPassword'].touched)">
        <ng-container *ngIf="formGroup.controls['confirmPassword'].errors?.['required']">
          Confirm Password is required.
        </ng-container>
        <ng-container *ngIf="formGroup.controls['confirmPassword'].errors?.['mustMatch']">Passwords must
          match</ng-container>
      </mat-error>
      <mat-icon matSuffix>lock_open</mat-icon>
    </mat-form-field>

    <!--Submit-->
    <div style="text-align: right;">
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="submit()">
        <mat-icon>build</mat-icon> Change
      </button>
    </div>
  </form>
</div>