<div>
    <div class="jumbotron" fxLayout="row" fxLayoutAlign="center center">
        <h1>We would love to hear from you!</h1>
    </div>
    <div class="container" fxLayout="row">
        <div fxFlex="60%">
            <form [formGroup]="ContactusForm" (ngSubmit)="onSubmit()" fxLayout="column">
                <mat-form-field>
                    <mat-select formControlName="query" placeholder="How can we help you?">
                        <mat-option *ngFor="let option of queryList" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Full Name</mat-label>
                    <input formControlName="fullName" matInput placeholder="Full Name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input formControlName="email" matInput placeholder="Email Address">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input formControlName="mobileNumber" matInput placeholder="Mobile Number (optional)"
                        pattern="[0-9]*">
                </mat-form-field>
                <mat-form-field class="TextFieldControl">
                    <mat-label>Type Text</mat-label>
                    <textarea formControlName="text" matInput placeholder="Type text"></textarea>
                </mat-form-field>

                <button mat-raised-button class="FeedbackBtn" type="submit" [disabled]="ContactusForm.invalid">Submit
                    Feedback</button>
            </form>

        </div>
        <div class="cardSection" fxFlex="40%" fxLayout="column">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Report a Safety Emergency</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>We are committed to the safety of everyone using Zomato.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Report here</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Issue with your live order?</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Click on the 'Support' or 'Online ordering help' section in your app to connect to our customer
                        support team.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>