<footer [class.login_footer]="isLoginPage">
    <!-- <div class="first_row" fxLayout="row" fxLayoutAlign=" center">
        <h1>FDA</h1>
        <span class="spacer"></span>
        <button fxLayout="row" fxLayoutAlign="space-between center">
            <img alt="india" src="assets/images/indian-flag.png" matPrefix/>
            India <mat-icon matSuffix>arrow_drop_down</mat-icon>
        </button>
        <button fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon matPrefix>language</mat-icon>
            English <mat-icon matSuffix>arrow_drop_down</mat-icon>
        </button>
    </div>
    <div class="second_row">
    </div> -->
    <div fxLayout="row" fxLayoutAlign="center center">
        <p>Copyright@2023</p>
    </div>
</footer>