.address_section {
    .addresses {
        gap: 30px;

        .address {
            // border: 1px solid #323232;
            border-radius: 15px;
            height: 200px;

            .mat-mdc-card {
                height: 100%;

                .mat-icon {
                    color: #EF4F5F;
                }

                .mat-mdc-card-content {
                    height: 100%;

                    form {
                        display: flex;
                        flex-direction: column;

                        .mat-mdc-form-field {
                            width: 100%;
                            margin-bottom: 20px;
                        }

                        button.address_btn_edit {
                            border: none;
                            background-color: transparent;
                            padding: 4px 10px;
                            color: #EF4F5F;
                            align-self: end;
                        }
                    }
                }

                .mat-mdc-card-actions {
                    // gap: 10px;
                    justify-content: space-between;



                }
            }
        }
    }

}