*:not(.mat-icon) {
    font-family: serif;
}

.spacer {
    flex: 1 1 auto;
    // border: 1px solid black;
}

.logo {
    font-size: 22px;
}

input:focus {
    outline: none;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent !important;
}

.vertical-hr {
    border: none;
    border-left: 2px solid rgb(232, 232, 232);
    height: 1.5rem;
}

.mat-toolbar {
    background-color: white;

    .mat-icon {
        margin-bottom: -5px;
    }

    .mat-toolbar-row {
        padding: 0 120px;
    }

    .mat-toolbar-row.first_row {
        gap: 15px;

        form {
            // height: 3rem;
            border: 1px solid rgb(232, 232, 232);
            border-radius: .8rem;
            box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
            overflow: hidden;
            gap: 10px;

            .location_on {
                color: deeppink;
            }

            input {
                height: 100%;
                background-color: transparent;
                border: none;
            }

            .postfix {
                margin-left: -10px;
            }

            .location-field {
                width: 200px;
            }

            .search-field {
                width: 350px;
            }
        }
        button.profile_icon_access{
            display: flex;
            gap: 10px;
            align-items: center;
            img{
                height: 35px;
                width: 35px;
                border-radius: 100%;
            }
            .mat-icon{
                margin-top: -6px;
            }
        }
        button {
            font-size: 18px;
            border: none;
            background-color: inherit;
        }
    }
    .mat-toolbar-row.second_row {
        gap: 10px;
        height: 110px;
        border-bottom: 1px solid rgb(232, 232, 232);

        button {
            border: none;
            padding: 10px 20px;
            font-size: 26px;
            background-color: inherit;
            gap: 15px;
            text-transform: capitalize;

            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
            }
        }
    }

    .mat-toolbar-row.third_row {
        gap: 25px;

        button {
            padding: 2px 20px;
            height: 35px;
            width: 140px;
            font-size: 18px;
            background-color: inherit;
            border-radius: 5px;
            border-color: rgb(232, 232, 232);
        }
    }
}
.mat-toolbar.login_toolbar{
    position: fixed ;
    background-color: transparent;
    z-index: 1;
    .mat-toolbar-row.first_row{
        color: white;
        button{
            color: white;
        }
    }
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;
}

.third-row {
    position: relative;
    z-index: 1;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
    height: 0 !important;
    line-height: 12px !important;
}
::ng-deep .mat-mdc-text-field-wrapper{
    background-color: white !important;
}  
