
::ng-deep .mdc-data-table__cell, .mat-mdc-header-cell{
    text-align: center !important;
    text-transform: capitalize;
}
::ng-deep .mat-column-feedback{
    text-transform: none;
    text-align: left !important;
}
