<div class="reportController">
    <form [formGroup]="reportForm" (ngSubmit)="onSubmit()" fxLayout="column">
        <mat-form-field>
            <mat-select formControlName="subject" placeholder="How can we help you?">
                <mat-option *ngFor="let option of queryList" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input formControlName="name" matInput placeholder="Full Name">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input formControlName="email" matInput placeholder="Email Address">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mobile Number</mat-label>
            <input formControlName="mobileNumber" matInput placeholder="Mobile Number (optional)">
        </mat-form-field>

        <mat-form-field class="TextFieldControl">
            <mat-label>Type Message</mat-label>
            <textarea formControlName="message" matInput placeholder="Type text"></textarea>
        </mat-form-field>

        <button mat-raised-button class="FeedbackBtn" type="submit" [disabled]="reportForm.invalid">Submit
            Feedback
        </button>
    </form>

</div>