<mat-toolbar class="bg-none">
    <span>Users</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="float-right" [routerLink]="'/user/add'">
        <mat-icon>add_circle</mat-icon> Create User
    </button>
</mat-toolbar>
<hr>
<ng-container *ngIf="dataSource?.filteredData?.length > 0; else noData;">

    <div class="example-container">
        <table mat-table [dataSource]="dataSource">
            <!-- Id -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element">
                    {{element.id}}
                </td>
            </ng-container>

            <!-- created At -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> full Name </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
            </ng-container>

            <!-- customerId -->
            <ng-container matColumnDef="customerId">
                <th mat-header-cell *matHeaderCellDef> customer Id </th>
                <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
            </ng-container>

            <!-- productName -->
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef> product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>

            <!-- productQuantity -->
            <ng-container matColumnDef="productQuantity">
                <th mat-header-cell *matHeaderCellDef> product Quantity </th>
                <td mat-cell *matCellDef="let element">
                    {{element.productQuantity}} </td>
            </ng-container>

            <!-- totalPayPrice -->
            <ng-container matColumnDef="totalPayPrice">
                <th mat-header-cell *matHeaderCellDef> total Pay Price </th>
                <td mat-cell *matCellDef="let element">
                    {{element.totalPayPrice}}
                </td>
            </ng-container>

            <!-- payStatus Column -->
            <ng-container matColumnDef="payStatus">
                <th mat-header-cell *matHeaderCellDef> pay Status </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'color' : element.payStatus !==0 ? 'green':'red'}">
                    {{element.payStatus !==0 ? 'Yes' : 'No'}} </td>
            </ng-container>

            <!-- deliveryAddress Column -->
            <ng-container matColumnDef="deliveryAddress">
                <th mat-header-cell *matHeaderCellDef> delivery Address </th>
                <td mat-cell *matCellDef="let element">
                    {{element.deliveryAddress}}
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-right"> action </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-button (click)="generateReceipt(element)">generate receipt</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [length]="pagination.totalCount" [pageSize]="pagination.perPage" (page)="getNextPageData($event);">
    </mat-paginator>
</ng-container>
<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>