<section class="order_history">
    <h1>order history</h1>

    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <ng-container *ngFor="let element of orderHistoryList">
            <mat-card fxFlex="48%">
                <mat-card-header>
                    <img mat-card-avatar alt="" src="assets/images/user.png" />
                    <mat-card-title>{{element.productName}}</mat-card-title>
                    <mat-card-subtitle>{{element.deliveryAddress}}</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <p class="content_heading">order number</p>
                    <p class="content_dtl">{{element.id}}</p>
                    <p class="content_heading">Total Amout</p>
                    <p class="content_dtl">₹{{element.totalPayPrice}}</p>
                    <p class="content_heading">Items</p>
                    <p class="content_dtl">{{element.productId}}</p>
                    <p class="content_heading">ordered on</p>
                    <p class="content_dtl">{{element.createdAt}}</p>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end">
                    <button mat-button [routerLink]="'/user/order/detail/'+ element.id">view details</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>
</section>