.order_history > div{
    gap: 20px;
}

.spacer{
    flex: 1 1 100%;
}
.mat-mdc-card-content{
    padding: 16px;
}
.mat-divider{
    padding: 0 16px;
}
.content_heading{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #828282;
    margin: 0;
}

.content_dtl{
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    color: #323232;
}
button{
    color: #EF4F5F;
    border: 1px solid #EF4F5F;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
}