<mat-toolbar class="bg-none">
    <div>
        <span class="breadcrumb-heading">Promo Codes</span>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="float-right" [routerLink]="'/admin/promo/code/add'">
        <mat-icon>add_circle</mat-icon> Create Promo Code
    </button>
</mat-toolbar>
<hr>

<ng-container *ngIf="dataSource?.filteredData?.length > 0; else noData;">

    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef class="headers"> No. </th>
                <td class="headers" mat-cell *matCellDef="let i=index"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="promoCode">
                <th mat-header-cell *matHeaderCellDef> Promo Code </th>
                <td mat-cell *matCellDef="let element">
                    {{element.promoCode}}
                </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="property">
                <th mat-header-cell *matHeaderCellDef> Property </th>
                <td mat-cell *matCellDef="let element"> {{element.property}} </td>
            </ng-container>

            <!-- Mobile Number Column -->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
            </ng-container>

            <!-- Business name Column -->
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
            </ng-container>

            <!-- Business email Column -->
            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef> Discount </th>
                <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
            </ng-container>

            <!-- Business mobile number Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- CreatedAt Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> CreatedAt </th>
                <td mat-cell *matCellDef="let element">
                    {{element.createdAt | dateTime}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.status" (change)="changeStatus($event.checked,element._id)"
                        color="primary">
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-right"> Action </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="'/admin/promo/code/edit/' + element.id">
                            <mat-icon>edit</mat-icon> Edit
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [length]="pagination.totalCount" [pageSize]="pagination.perPage" (page)="getNextPageData($event);">
    </mat-paginator>
</ng-container>
<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>