<mat-card fxFlex="100%">
    <mat-card-header>
        <img mat-card-avatar alt="" src="assets/images/user.png" />
        <mat-card-title>Cake</mat-card-title>
        <mat-card-subtitle>{{orderDetail.deliveryAddress}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="48%">
            <p class="content_heading">order number</p>
            <p class="content_dtl">{{orderDetail.id}}</p>
        </div>
        <div fxFlex="48%">
            <p class="content_heading">restaurant name</p>
            <p class="content_dtl">{{orderDetail.restaurantName}}</p>
        </div>
        <div fxFlex="48%">
            <p class="content_heading">product quantity</p>
            <p class="content_dtl">{{orderDetail.productQuantity}}</p>
        </div>
        <div fxFlex="48%">
            <p class="content_heading">per Quantity Price</p>
            <p class="content_dtl">₹{{orderDetail.perQuantityPrice}}</p>
        </div>
        <div fxFlex="48%">
            <p class="content_heading">Total Amout</p>
            <p class="content_dtl">₹{{orderDetail.totalPayPrice}}</p>
        </div>
        <div fxFlex="48%">
            <p class="content_heading">Items</p>
            <p class="content_dtl">{{orderDetail.productId}}</p>
        </div>
        <div fxFlex="48%">
            <p class="content_heading">ordered on</p>
            <p class="content_dtl">{{orderDetail.createdAt}}</p>
        </div>
    </mat-card-content>
</mat-card>